<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    
    <section class="vh-100 d-flex justify-content-center bg-info" style="background-image: url(https://images.unsplash.com/photo-1643377542157-99355fbf2dd8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2045&q=80); background-size: cover; align-items: baseline;">
       
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                
                <div class="head bg-white mb-5 d-flex justify-content-center"  style="width: 100%; height: 100px; align-items: center; opacity:.6;">
                    <img class="img h-100" src="../image/Screenshot 2023-06-16 112029 (1).png" alt="">
                    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 20px;">watches</h1>
                </div>

                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                   <div class="box border p-5 mt-5" >
                   
                    <div class=" bg-black justify-content-center align-items-center flex-column" >
                        <h1 class="flex-column  mt-1 mb-1 text-white" style="margin-left: 30px;">verify Your Email.</h1>
                        <p class="small fw-bold mt-1 mb-1 text-white flex-column" style="margin-left: 100px;">Please check your email. </p>
                   
                  
                    </div>
                </div>
                </div>

               
            </div>
        </div>

    </section>
</body>
</html>